# ╔──────────────────────────────────────────────¤◎¤──────────────────────────────────────────────╗
# |		Comments
# 		✩ [mysqld] indique à quelle catégorie va suivre la configuration suivante
#       ✩ Port 3306??
#       ✩ bind_address=* -> bind_address=XXX.XXX.XX.XX, autorise tous les IP
#       ✩ /var/lib/mysql, notre dossier qui stockera notre base de données 
# ╚──────────────────────────────────────────────¤◎¤──────────────────────────────────────────────╝
[mysqld]
datadir = /var/lib/mysql
socket  = /run/mysqld/mysqld.sock
bind_address=*
port = 3306
user = mysql

				